@model MySLOTree.Models.NewsListModel

@if (Model.News.Where(x => x.ParentId == Model.Seed).Any())
{
    <ul>
        @foreach (var node in Model.News)
        {
            if (node.ParentId == Model.Seed)
            {
                MySLOTree.Models.NewsListModel inner = new MySLOTree.Models.NewsListModel { Seed = node.Id, News = Model.News };
            <li>
                <div class="tree">
                    <div class="drop" parent-id="@node.Id">
                        <a href="#" node-id="@node.Id" class="drag" onclick="expand(this)">@node.Title</a>
                    </div>
                    <div class="add" title="Add" onclick="openAdd(@node.Id)">
                    </div>
                    <div class="remove">@Ajax.ActionLink("1", "Delete", new { id = node.Id }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "document.location.reload(true);", OnFailure = "alert('Some errors may occurs. Item not delete.');" }, new {title="Remove" })
                    </div>
                </div>
                @Html.Partial("_TreeList", inner)
            </li>
            }
        }
    </ul>
}